/* RESETS: */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
}

body {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom; /* Thanks, Jen Simmons */
}
